.git
.gitignore
.env
node_modules

# Exclude avenuectl temp folder
avenuectl/temp/

# Optional: exclude temp folders elsewhere
tmp/
persist/tmp/

# Node_modules, frontend build (if copied in backend)
node_modules/

# Logs
*.log
